/* defaults */
@import url(reset.css);
@import url(typography.css);
@import url(theme.css);

/* page specifics */

/* add soft opening menu img as homepage... so sad */
.menu-soft-open {
    width: 100%;
    z-index: 0;
}

/* responsive */
@media only screen and (min-width: 768px) {
    .menu-soft-open {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        width: auto;
        z-index: 0;
    }
}
