body {
    font-family: 'Roboto', sans-serif;
    background: url("../img/crinkled-paper-texture.jpg") center no-repeat fixed;
}

div::selection {
    background: #fff2a8;
}

a {
    color: #0000EE;
    text-decoration: underline;
}

main {
    margin: auto 5%;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    padding: 10px;
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    font-size: 5.2em;
    letter-spacing: 1px;
    text-align: center;
}

.subtitle {
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}
