body {
    font-family: 'Roboto', sans-serif;
}

.background-img {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../img/crave.jpeg');
    background-attachment: fixed;
    background-color: rgba(0,0,0,1);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

div::selection {
    background: #fff2a8;
}

a {
    color: #0000EE;
    text-decoration: underline;
}

main {
    margin: auto 5%;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 1;
}

.title {
    padding: 10px;
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    font-size: 5.2em;
    letter-spacing: 1px;
    text-align: center;
}

.subtitle {
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}
